body{
	background: blue;
	text-align: center;
}
h1{
	color: black;
}
.ketengah{
	margin: 10px auto;
	width: 1150px;
}
.Kotak{
	background: whitesmoke;
	padding: 20px;
	width: 200px;
	float: left;
	margin: 20px;
	height: 200px;
}
.Kotak1{
	border-radius: 10px 10px 10px 10px;
}
.Kotak2{
	border-radius: 40px 20px 60px 90px;
}
.Kotak3{
	border-radius: 2px 140px 20px 60px;
}
.Kotak4{
	border-radius: 0px 50px 0px 50px;
}
.Kotak5{
	border-radius: 0px 0px 0px 0px;
}
.Kotak6{
	border-radius: 100%;
}
.Kotak7{
	border-radius: 40px 10px;
}
.Kotak8{
	border-radius: 10px 10px 50% 50%;
}
